@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');


body {
    background-color: #FFFFFF;
    margin: 0;
}


nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

}
h1 {
   font-family: Italiana, sans-serif; 
    font-size: 3rem;
    color: white;
}

#gamerules, #acceptButton, #createLobbyButton, #joinLobbyButton, #joinButton {
   appearance: none;
   background-color: white;
   border: 2px solid #1A1A1A;
   border-radius: 15px;
   box-sizing: border-box;
   color: black;
   cursor: pointer;
   display: inline-block;
   font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
   font-size: 1.5rem;
   font-weight: 600;
   line-height: normal;
   margin: 0;
   min-height: 60px;
   min-width: 0;
   outline: none;
   padding: 16px 24px;
   text-align: center;
   text-decoration: none;
   transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   width: auto;
   will-change: transform;
}

#gamerules:disabled {
    pointer-events: none;
}

#gamerules:hover , #acceptButton:hover, #joinButton:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

#gamerules:active {
    box-shadow: none;
    transform: translateY(0);
}

main {
    padding-left: 4rem;
    padding: 10rem;
    font-size: 3rem;
}

.enterNameSection {
    display: flex;
    align-items: center;
}

#acceptButton {
    margin-left: 20px; 
    padding-block: 10px;
    background-color: #54AD24;
    border: none;
    color: white;
}

#joinButton {
    margin-top: 2rem;
    padding-block: 10px;
    background-color: #177eaa;
    border: none;
    color: white;
}


#joinLobbyButton {
    margin-left: 20px;
    padding-block: 10px;
    background-color: #177EAA;
    border: none;
    color: white;
}

.joinButtonDiv{
    display: flex;
    justify-content: center;
}

.centerCardBtn{
    display: flex;
    justify-content: center;
}

#buttonsJoinCreate{
    display: flex;
}

#createLobbyButton {
    margin-left: 20px;
    padding-block: 10px;
    background-color: #54AD24;
    border: none;
    color: white;
}





/* Style for input below */

input[type="submit"]{
    margin-top: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: none;
    padding: 10px 20px;
    background: #5fcf80;
    color: #fff;
    font-size: 3rem;
    cursor: pointer;
}

input[type="text"]{



    border: none;
    padding: 10px;

    color: #444;
    font-size: 3rem;
    border-bottom: 1px solid #ccc;
}


.rulestext {
    font-size: 2rem;
    margin: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

#title {
    font-family: sans-serif;
    font-size: 3rem;
    color: black;
    margin: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

#lobby{
    color: black;
    font-family: sans-serif;

}

#lobbyMain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*Pin code CSS */

.pin-code{ 
    padding: 0; 
    margin: 0 auto; 
    display: flex;
    justify-content:center;
    
  } 
   
  .pin-code input { 
    border: none; 
    text-align: center; 
    width: 7rem;
    height:7rem;
    font-size: 6rem; 
    background-color: #F3F3F3;
    margin-right:5px;
  } 
  
  
  
  .pin-code input:focus { 
    border: 1px solid #573D8B;
    outline:none;
  } 
  
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }


  /* Hides arrows, Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.joinGameInstruction{
    font-family: sans-serif;
    font-size: 1rem;
    color: black;
    text-align: center;
}

.joinGameTitle{
    font-family: sans-serif;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}


/* Carts CSS */

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 8rem;
    border-radius: 5px;

  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  img {
    border-radius: 5px 5px 0 0;
  }
  
  .container {
    padding: 2px 16px;
    font-size: 1rem;
  }

  .cardHolder{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding-bottom: 2rem;
  }

    