name: CI/CD pipeline
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
jobs:
  deploy:
    name: deploy
    runs-on: ubuntu-latest
    steps:
      - name: Deploy App
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          port: ${{ secrets.PORT }}
          script: |
            source /root/.nvm/nvm.sh
            source ~/.bashrc
            # nvm use v22
            npm install -g pm2
            cd /srv/www/echowords
            git pull
            # npm ci
            dotnet restore
            dotnet publish -c Release --runtime linux-x64 --self-contained false -o ./publish
            pm2 stop echowords
            pm2 delete echowords
            export ECHO_PG_PORT="${{ secrets.PG_PORT }}"
            export ECHO_PG_HOST="${{ secrets.PG_HOST }}"
            export ECHO_PG_USER="${{ secrets.PG_USER }}"
            export ECHO_PG_PASSWORD="${{ secrets.PG_PASSWORD }}"
            export ECHO_DB_NAME="${{ secrets.ECHO_DB_NAME }}"
            export ASPNETCORE_URLS="http://localhost:5185"
            pm2 start "./publish/Wordapp" --name echowords
